 .slider-container {
    padding: 20px 0 0 0;
    display: flex;
    width: 100%;
    height: 40vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

   .slider-container img {
    flex: 0 0 20%;
    width: 20%;
    object-fit: cover;
    scroll-snap-align: center;
  }
